// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary        : #720202;
$secondary      : #2C2F33;
$accent         : #D4A5A5;
$background     : #121212;
$text-color     : #E0E0E0;
$active-glow    : rgba(255, 64, 64, 0.9);

$dark           : #1D1D1D;
$dark-page      : #121212;

$positive       : #21BA45;
$negative       : #B22222;
$info           : #4682B4;
$warning        : #DAA520;
